
/*background*/
#body_main{
	background-color: rgb(223,223,223);
	padding-top:50px;
	font-family:Arial;
}



.container{
	
}

.header_top{
	background-color: #aaaaaa;

	border-bottom: 20px solid rgb(223,223,223);
}
.main_body{
	background-color: rgb(255,255,255);
	
	padding: 50px;
	width: 960px;
	overflow:auto;
	border-bottom: 20px solid rgb(223,223,223);
}
.footer{
background-color: rgb(255,255,255);
	
	padding: 50px;
	width: 960px;
	overflow:auto;

}
.avatar{
	width:280px;
	height:280px;
	border-radius: 10px;
}
.item-logo{}
.item-title{}
.item-subtitle{}
.meta{}