<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Han Dang | CV</title>
	
	<!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./css/Style.css">
    <script src="js/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular-sanitize.js"></script>
	<script src="js/firebase.min.js"></script>

	<!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <!-- Firebase -->
    <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/1.2.0/angularfire.min.js"></script>
	
	
  </head>

  <body class="background-main" ng-app="MyApp">
        <div ng-controller="ExampleController">
             <!-- header-banner -->
             <nav id="header-banner" class="navbar-default">
                <div class="wrapper row">
                    <div class="col-md-1"></div>

                    <a class="banner-logo-container guest col-md-6" href="{{header.contents[0].href}}">
                        <h2 id="li-logo" class="logo">data.header_banner.contents[0].content</h2>
                    </a>
                   
                    <nav role="navigation" class="nav guest-nav col-md-4" aria-label="Main site navigation" style="float: left; text-align: center;">
                        <ul role="menubar">
                            <li role="menuitem" class="nav-item">
                                <a class="nav-link" href="{{header.contents[1].href}}">
                                {{data.header_banner.contents[1].content}}
                                </a>
                            </li>
                            <li role="menuitem" class="nav-item">
                                <a rel="nofollow" class="nav-link" href="{{header.contents[2].href}}">
                                {{data.header_banner.contents[2].content}}
                                </a>
                            </li>
                            <li role="menuitem" class="nav-item">
                                  <a rel="nofollow" class="nav-link" href="{{header.contents[3].href}}">
                                {{data.header_banner.contents[3].content}}</a>
                             </li>
                         </ul>
                    </nav>
                    <div class="col-md-1"></div>
                </div>
            </nav>

        <!-- body-code -->
        <div id="layout-main">
             <!-- background -->
            <div class="edit_background">img</div>

            <div class="row" id="content-cv">
                <div id="" class="col-md-8 col-md-offset-1">

                    <section id="topcard" class="profile-section">
                        <div class="profile-card vcard row">
                            <div class="profile-picture col-md-4">
                                <div ng-dblclick=hidetextbox(edit.stateavatar)>
                                    <img ng-src="{{data.avatar.src}}" >
                                    <input  class="changed" style="width: 200px" type="text" ng-model="data.avatar.src" ng-show="edit.stateavatar.status"></input>
                                </div>
                            </div>

                            <div class="profile-overview col-md-8">
                                <div class="profile-overview-content">
                                    <!-- fullname -->
                                    <div ng-dblclick=hidetextbox(edit.statusfullname)>
                                        <h1 id="name" ng-show="(!edit.statusfullname.status)" class="fn" ng-bind="data.introduce.fullname"></h1>
                                        <input  class="changed" ng-show="edit.statusfullname.status" ng-model="data.introduce.fullname">
                                        <input  class="changed" ng-show="edit.statusfullname.status" ng-model="data.introduce.name">
                                        </input>
                                    </div>
                                    <!-- job -->
                                     <div ng-dblclick=hidetextbox(edit.statusjob)>
                                         <p class="headline title" data-section="headline" ng-show="!edit.statusjob.status" ng-bind="data.introduce.job"></p>
                                         <input  class="changed" ng-show="edit.statusjob.status" ng-model="data.introduce.job"  )></input>
                                    </div>


                                    <dl id="demographics">
                                        <dt>Location</dt>
                                        <dd class="descriptor adr"><span class="locality">VietNam</span></dd>
                                        <dt>Industry</dt>
                                        <dd class="descriptor">Internet</dd>
                                    </dl>

                                    <div class="extra-info">
                                      <table class="table table-striped">
                                            <tbody>
                                              <tr ng-repeat = "content in data.history_me.contents" ng-dblclick=hidetextbox(edit.statushistory)>
                                                <td ng-show="!edit.statushistory.status" ng-bind="content.name"/>
                                            
                                                <td>
                                                    <input  class="changed" type="text" ng-show="edit.statushistory.status" ng-model="content.name"></input>
                                                </td>
                                                <td ng-show="!edit.statushistory.status" ng-bind="content.content"/>
                                                <td>
                                                    <input  class="changed" type="text" ng-show="edit.statushistory.status" ng-model="content.content"></input>
                                                </td>
                                              </tr>
                                            </tbody>
                                          </table>
                                    </div>
                                    <a href="https://www.linkedin.com/today/influencers?trk=inf_bdg_profile" title="Jeff is an Influencer" class="influencer-badge">Influencer</a>
                                </div>
                            </div>
                            
                        </div>
                        <div class="reg-upsell">
                            <h2>Join LinkedIn and access {{data.introduce.name}}’s full profile. It’s free!</h2>
                            <h3>As a LinkedIn member, you’ll join 400 million other professionals who are sharing connections, ideas, and opportunities.</h3>

                            <ul ng-repeat="content in data.information_me.contents" ng-dblclick=hidetextbox(edit.statusinformationme)>
                                <li ng-show="!edit.statusinformationme.status" ng-bind="info"></li>
                                <li>
                                    <input  class="changed" type="text" ng-show="edit.statusinformationme.status" ng-model="info" ng-init="info=content.name+': ' +content.content"></input>
                                </li>
                            </ul>

                            <a href="https://www.linkedin.com/profile/preview?locale=en_US&trk=prof-0-sb-preview-primary-button" class="signup-button">View {{data.introduce.name}}'s Full Profile</a>
                        </div>
                    </section>
                    
                    <!--SUMMARY-->
                    <section id="summary" class="profile-section">
					<img class="logo-title" src={{data.summary.logo}}>
                        <h3 class="title">{{data.summary.name}}</h3>
                        
                        <div class="description" ng-dblclick=hidetextbox(edit.statesummary)>
                                <p ng-bind="summarycontent" ng-show="!edit.statesummary.status"></p>
                                 <textarea  ng-model="summarycontent" ng-show="edit.statesummary.status"> 
                                 </textarea>
                        </div> 
                        
                    </section>
                   
                    <!-- SKILL -->
                     <section id ="skill" class="profile-section">
					 <img class="logo-title" src={{data.skill.logo}}>
                        <h3 class="title">{{data.skill.name}}</h3>
                        <ul class="skill">
                             <li ng-repeat="skill in data.skill.contents" ng-dblclick=hidetextbox(edit.stateskill)>
                                <a href={{skill.href}} title{{skill.title}}><span class="wrap" ng-bind="skill.name" ng-show="!edit.stateskill.status"></span>
                                </a>
                                <input  class="changed" type="text" ng-model="skill.name" ng-show="edit.stateskill.status">
                            </li>
                        </ul>

                    </section>
					
					
                    <!-- Experience -->
					<section id="experience" class="profile-section">
                        <img class="logo-title" src={{data.experience.logo}}>
						<span><h3 class="title">{{data.experience.name}}</h3></span>
						
						
						<ul ng-repeat="experience in data.experience.contents">
							<li class="position" ng-dblclick=hidetextbox(edit.stateexperience)>
								<header class="logo">
									<img class="lazy-loaded" alt={{experience.title_name}} src={{experience.logo}}>
								</header>
								<h4 class="item-title">{{experience.title_name}}</h4>
								<input  class="changed" type="text" ng-show="edit.stateexperience.status" ng-model="experience.title_name"></input>
								<span> <h5 class="item-subtitle">{{experience.position}}</h5>
								<input  class="changed" type="text" ng-show="edit.stateexperience.status" ng-model="experience.position"></input>
								</span>
								<span> - <i>{{experience.period}}</i>
								<input  class="changed" type="text" ng-show="edit.stateexperience.status" ng-model="experience.period"></input> </span>
								<p class="item-subtitle">{{experience.description}}</p>
								<input  class="changed" type="text" ng-show="edit.stateexperience.status" ng-model="experience.description"></input>
								
								
							</li>
						</ul>
                    </section>
					
			

                    
                     <!-- EDUCATION -->
                    <section id="education" class="profile-section">
                        <img class="logo-title" src={{data.education.logo}}>
						<span><h3 class="title">{{data.education.name}}</h3></span>
						<ul ng-repeat="education in data.education.contents">
							<li class="position" ng-dblclick=hidetextbox(edit.stateeducation)>
								<header class="logo">
									<img class="lazy-loaded" alt={{education.title_name}} src={{education.logo_img}}>
								</header>
								<h4 class="item-title">{{education.title_name}}</h4>
								<input  class="changed" type="text" ng-show="edit.stateeducation.status" ng-model="education.title_name"></input>
								<h5 class="item-subtitle">{{education.subtitle_name}}</h5>
								<input  class="changed" type="text" ng-show="edit.stateeducation.status" ng-model="education.subtitle_name"></input>
								<i>{{education.period}}</i>
								<input  class="changed" type="text" ng-show="edit.stateeducation.status" ng-model="education.period"></input>
								
							</li>
						</ul>
                    </section>

                    <!-- PROJECT -->
					<section id ="project" class="profile-section">
					<img class="logo-title" src={{data.project.logo}}>
						<h3 class="title">{{data.project.name}}</h3>
						<ul ng-repeat="project in data.project.contents">
							<li class="position" ng-dblclick=hidetextbox(edit.stateproject)>
									<header class="logo">
										<img class="lazy-loaded" alt={{project.title_name}} src={{project.logo_img}}>
									</header>
									<h4 class="item-title">{{project.title_name}}</h4>
									<input  class="changed" type="text" ng-show="edit.stateproject.status" ng-model="project.title_name"></input>
									<h5 class="item-subtitle">{{project.subtitle_name}}</h5>
									<input  class="changed" type="text" ng-show="edit.stateproject.status" ng-model="project.subtitle_name"></input>
									<i>Period: {{project.period}}</i>
									<input  class="changed" type="text" ng-show="edit.stateproject.status" ng-model="project.period"></input>
									<p project.description}}</p>
									<input  class="changed" type="text" ng-show="edit.stateproject.status" ng-model="project.description"></input>
							</li>
						</ul>
                    </section>
					
					
                    
                </div>


               
                
              
            </div>
             <div id="footer">
					<a ng-repeat="content in data.footer.contents" href={{content.href}} target="_blank"> <img src={{content.src}} > </a>
                    <ul>
                        <li ng-repeat="aboutme in data.information_me.contents">
                            {{aboutme.name}} : {{aboutme.content}}
                        </li>

                        
                    </ul>
                </div>
            
        </div>
           
            
        </div>
           

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/index.js"></script>

  </body>

</html>